
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

#app {
  background-color: black;
}

// Nav styling
nav {
  list-style: none;
  position: fixed;
  img {
    height: 60px;
    float: left;
  }
  li {
    float: left;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: white;
    padding: 7px 10px;
    margin: 10px 0;
    border-radius: 3px;

    &:hover {
      background-color: red;
    }
  }
}

div {
  min-height: 1px;
}

//Page body

.header-container {
  min-height: 600px;
  background-size: cover;
  h3, p {
    color: white;
    font-family: 'Lato', sans-serif;
  }
}

.show-description {
  width: 288px;
  margin-top: -85px;
  margin-left: 98px;
}

#narcos-logo {
  height: 135px;
  margin: 80px 100px;
}

#narcos-header {
  float: left;
}

//movies
h4 {
  color: gray;
  // margin-left: 15px;
}

.movie-row {
  margin: 0 22px;
}

.movie-panel {
  width: calc(20% - 10px);
	min-width: calc(20% - 10px);
	background-color: black;
	flex: 1 0 auto;
	background-position: center;
	background-size: 100%;
	height: 200px;
	background-repeat: no-repeat;
	overflow: hidden;
	margin-right: 10px;
	transition: background 1s ease;
}
